@tailwind base;
@tailwind components;
@tailwind utilities;


.dot{ 
  background-color: red; width: 20px; height: 20px; 
  animation:  anime1 linear infinite .5s;
  border-radius: 50%;
}
@keyframes anime1 {
  
  from{
    background-color: red;
  }
  to{
    background-color: black;
  }
}